<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
  <link href="https://fonts.googleapis.com/css?family=Kurale" rel="stylesheet">

</head>

<body>

  <nav class="navbar navbar-inverse" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/hotels">
        <img src="/images/KP.png" style="width:60px; height:60px; margin-top:-20px;">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/hotels" style="text-align:center;">Готелі Кам'янця-Подільського</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>
  {{{body}}}
  </div>
</body>
<script src="/vendor/jquery/dist/jquery.min.js"></script>
<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

</html>